@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .chart-container {
    border: 2px solid #4caf50; /* Color del borde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espacio alrededor del gráfico */
    background-color: #1e1e1e; /* Fondo oscuro */
  }